<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3816df68-1d36-4db5-8a74-bcf13105a404" name="Demo4_TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3816df68-1d36-4db5-8a74-bcf13105a404fileName">Demo4_TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>